@font-face {
    font-family: 'Frutiger75';
    src: url('Frutiger75-Black.woff2') format('woff2'),
        url('Frutiger75-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Ultra';
    src: url('Frutiger-UltraBlack.woff2') format('woff2'),
        url('Frutiger-UltraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger65';
    src: url('Frutiger65-Bold.woff2') format('woff2'),
        url('Frutiger65-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger95-UltraBlack';
    src: url('Frutiger95-UltraBlack.woff2') format('woff2'),
        url('Frutiger95-UltraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Geomanist Book';
    src: url('Geomanist-Book.woff2.html') format('woff2'),
        url('Geomanist-Book.woff.html') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Geomanist';
    src: url('Geomanist-Regular.woff2.html') format('woff2'),
        url('Geomanist-Regular.woff.html') format('woff');
    font-weight: normal;
    font-style: normal;
}


